@model VideostoreDB.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Movie Details</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-3">
                <h3>Title: </h3>
            </div>
            <div class="col-md-push-6">
                <h3>@Model.Name</h3>
            </div>
            <hr />
            <div class="col-md-4">
                <h5>Price: </h5>
            </div>
            <div class="col-md-6">
                <h5>@Model.Price</h5>
            </div>
            <div class="col-md-4">
                <h5>Genre: </h5>
            </div>
            <div class="col-md-6">
                <h5>@Model.Genre.GenreName</h5>
            </div>
            <div class="col-md-4">
                <h5>Release Date: </h5>
            </div>
            <div class="col-md-6">
                <h5>@Model.ReleaseDate</h5>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
