@model VideostoreDB.Models.Genre

@{
    ViewBag.Title = "Create";
}

<h2>Add a Genre</h2>
<br />
<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="GenreName" required placeholder="Enter a name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a class="btn btn-default" href="/Genre/Index">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>